{% extends "posting.html" %}
{% block title %} Welcome {% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block top_content %}
<div class="form">
  <form id="search" action="{{ url_for('main', tags='') }}" method="get">
    <div class="form_element">
      <input id="tags" type="text" tabindex="1" size="53" value="enter tags separated by space" />
      <input type="submit" id="go" tabindex="41" value="search" />
    </div>
  </form>
</div>
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
{% endblock %}
